{% extends "workout_base.html" %}

{% block add_style %}
    {% load static %}
	<link rel="stylesheet" href="{% static 'css/add.css'%}">
{% endblock %}

{% block body_attribute %} class="req-bg" {% endblock %}
{% block contents %}

	<!-- content -->
	<div class="container-fluid">
		<form method="POST" action="{% url 'request_match' %}"> {% csrf_token %}
			<div class="col-sm-12">

				<!-- title -->
				<div class="row text-center">
					<article class="col-xs-12">
						<h2 class="text-white"><strong>Make Schedule</strong></h2>
					</article>
				</div>
				<!-- end title -->
				<!-- sport -->
				<div class="row">
					<article class="col-xs-12 bottom-margin">
						<div class="col-xs-12 ">
							<h3 class="text-white">Choose sport</h3>
							<select class="form-control" name="sports">
								{% for sport in form.sports_list %}
								<option value="{{sport.0}}">{{sport.1}}</option>
								{% endfor %}
							</select>
						</div>
					</article>
				</div>
				<!-- end sport -->
				<!-- location -->
				<div class="row">
					<article class="col-xs-12 bottom-margin">
						<div class="col-xs-12 ">
							<h3 class="text-white">Choose location</h3>
							<select class="form-control" name="location">
								{% for location in form.location_list %}
								<option value="{{location.0}}">{{location.1}}</option>
								{% endfor %}
							</select>
						</div>
					</article>
				</div>
				<!-- end location -->
				<!-- start time -->
				<div class="row">
					<article class="col-xs-12 bottom-margin">
						<div class="col-xs-12 ">
							<h3 class="text-white">Set start time</h3>
							<fieldset>
								<div class="control">
									<h4 class="text-white">Time:</h4>
									<input type="time" id="appt-time1" name="start_time" class="setup" value="now"/>
									<h4 class="text-white">Date:</h4>
									<input type="date" id="theDate1" name="start_date" class="setup" required align="center" style="color:#000000"/>
								</div>
							</fieldset>
						</div>
					</article>
				</div>
				<!-- end start time -->
				<!-- end time -->
				<div class="row">
					<article class="col-xs-12 bottom-margin">
						<div class="col-xs-12 ">
							<h3 class="text-white">Set end time</h3>
							<fieldset>
								<div class="control">
									<h4 class="text-white">Time:</h4>
									<input type="time" id="appt-time2" name="end_time" class="setup" value="now"/>
									<h4 class="text-white">Date:</h4>
									<input type="date" id="theDate2" name="end_date" class="setup" required align="center" style="color:#000000"/>
								</div>
							</fieldset>
						</div>
					</article>
				</div>
				<!-- end end time -->
				<!-- option -->
				<div class="row">
					<article class="col-xs-12">
						<div class="col-xs-12 ">

							<h3 class="text-white">Options</h3>
							<div class="checkbox ft13 text-white">
								<label>
									<input type="checkbox" value="" name="with_similar_level">
									with_similar_level
								</label>
							</div>
							<div class="checkbox ft13 text-white">
								<label>
									<input type="checkbox" value="" name="with_same_sex">
									with_same_sex
								</label>
							</div>
							<div class="checkbox ft13 text-white">
								<label>
									<input type="checkbox" value="" name="show_personal_info">
									show_personal_info
								</label>
							</div>
							<div class="checkbox ft13 text-white">
								<label>
									<input type="checkbox" value="" name="show_match_records">
									show_match_records
								</label>
							</div>
						</div>
					</article>
				</div>
				<!-- end option -->
				<!-- deposit -->
				<div class="row">
					<article class="col-xs-12">
						<div class="col-xs-12 ft13">
							<div class="checkbox text-white">
								<label>
									<input type="checkbox" value="">
									I accept to be fined if I cause the problem.
								</label>
							</div>
						</div>
					</article>
				</div>
				<!-- end deposit -->
			</div>
			<!-- skill -->
			<div class="row">
            	<article class="col-xs-12">
					<div class="col-xs-12 ">
						<h3 class="text-white">Skill</h3>
						<div class="radio ft13 text-white">
							<label>
								<input type="radio" name="skillful" id="optionsRadios1" value="0" checked>
								I'm not familiar with the rules.
							</label>
						</div>
						<div class="radio ft13 text-white">
							<label>
								<input type="radio" name="skillful" id="optionsRadios2" value="1">
								I'm accustomed, but not good at.
							</label>
						</div>
						<div class="radio ft13 text-white">
							<label>
								<input type="radio" name="skillful" id="optionsRadios3" value="2">
								I can use basic skills and tricks.
							</label>
						</div>
						<div class="radio ft13 text-white">
							<label>
								<input type="radio" name="skillful" id="optionsRadios4" value="3">
								I can use most of the techniques.
							</label>
						</div>
						<div class="radio ft13 text-white">
							<label>
								<input type="radio" name="skillful" id="optionsRadios5" value="4">
								I can play as much as an athlete.
							</label>
						</div>
					</div>
				</article>
			</div>
			<!-- end skill -->

			<!-- note -->
			<div class="row">
				<article class="col-xs-12 bottom-margin30">
					<div class="col-xs-12 ">
						<h3 class="text-white">Note to your partner</h3>
						<textarea class="form-control" rows="3" name="note"></textarea>
					</div>
				</article>
			</div>
			<!-- end note -->
			<!-- button -->
			<div class="row">
				<article class="col-xs-12 text-center bottom-margin30">
					<div class="col-xs-12 text-center bottom-margin30">
						<button class="btn btn-default btn-lg btn-block mybutton-design">Submit</button>
					</div>
				</article>
			</div>
		</form>
		<!-- end button -->
	</div>

{% endblock %}
